In [ ]:
# 1. Write a program to print numbers from 1 to 10 using a for loop.
# 2. Print numbers from 0 to 5 using range().
# 3. Print numbers from 5 to 15.
# 4. Print numbers from 10 to 1 using a for loop.
# 5. Print all even numbers between 1 and 20.
# 6. Print all odd numbers between 1 and 20.
# 7. Print numbers from 1 to 50, skipping multiples of 5.
# 8. Print numbers from 1 to 100 with a step of 10.
# 9. Print the square of numbers from 1 to 10.
# 10. Print the cube of numbers from 1 to 5.

In [2]:
# 1
for i in range(10):
  print(i+1)

1
2
3
4
5
6
7
8
9
10

In [3]:
# 2
for i in range(6):
  print(i)

0
1
2
3
4
5

In [4]:
# 3
for i in range(5,16):
  print(i)

5
6
7
8
9
10
11
12
13
14
15

In [5]:
# 4
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [6]:
# 5
for i in range(1,21):
  if i%2==0:
    print(i)

2
4
6
8
10
12
14
16
18
20

In [7]:
# 6
for i in range(1,21):
  if i%2!=0:
    print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# 7
for i in range(1,51):
  if i%5==0:
     continue
  print(i)

In [14]:
# 8
for i in range(0,101,10):
  print(i)

0
10
20
30
40
50
60
70
80
90
100

In [15]:
# 9
for i in range(1,11):
  print(i**2)

1
4
9
16
25
36
49
64
81
100

In [16]:
# 10
for i in range(1,11):
  print(i**3)

1
8
27
64
125
216
343
512
729
1000

In [ ]:
# 11. Find the sum of numbers from 1 to 10 using a for loop.
# 12. Find the sum of even numbers from 1 to 20.
# 13. Print the multiplication table of 5.
# 14. Print multiplication tables from 1 to 3.
# 15. Count how many numbers are there between 1 and 50.
# 16. Count how many even numbers are there between 1 and 100.

In [18]:
# 11
sum =0
for i in range(1,11):
  sum = sum+i
print(sum)

55

In [ ]:
# 12
sum =0
for i in range(1,11):
  if i%2==0:
    sum = sum+i
print(sum)

In [19]:
# 13
for i in range(1,11):
  print(i*5)

5
10
15
20
25
30
35
40
45
50

In [20]:
# 14
for i in range(1,11):
  print(i*3)

3
6
9
12
15
18
21
24
27
30

In [22]:
# 15
count=0
for i in range(1,51):
  count=count+1
print(count)

50

In [23]:
# 16
count=0
for i in range(1,51):
  if i%2==0:
     count=count+1
print(count)

25

In [ ]:
# 17. Print numbers from 1 to 30, but stop printing when the number becomes 20.
# 18. Print numbers from 1 to 20, but do not print 10.
# 19. Print numbers from 1 to 5, each on a new line.
# 20.Print numbers from 1 to 5 in a single line separated by space.
# 21. Print numbers from 5 to 1 in reverse order.
# 22.Print numbers from 1 to 5, along with their squares.

In [26]:
# 17
for i in range(1,31):
  if i==21:
     break
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [27]:
# 18
for i in range(1,31):
  if i==21:
     continue
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
22
23
24
25
26
27
28
29
30

In [28]:
# 19
for i in range(1,6):
  print(i)

1
2
3
4
5

In [29]:
# 20
for i in range(1,6):
  print(i , end=' ')

1 2 3 4 5

In [31]:
# 21
for i in range(5,0,-1):
  print(i)

5
4
3
2
1

In [32]:
# 22
for i in range(1,6):
  print(f'{i}',i*i)

1 1
2 4
3 9
4 16
5 25

In [ ]:
# 23.What will be the output of the following code?for i in range(3): print(i)
0,1,2
# 24.What will be the output of the following code?for i in range(1, 6, 2): print(i)
1,3,5
# 25. How many times will the following loop execute?for i in range(10, 0, -2): print(i)
10,8,6,4,2