<a href="https://colab.research.google.com/github/saransh437/Loops/blob/main/lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# data type in python
# list: collect multiple element together
# list => similar array
# can store value og any datatype
# created using square bracket []
#[val1,val2,val3,....]
#values are store on a specific position=>index
# 0-based indexing
# [10,20,23]
#  0 , 1, 2
# list are mutable in nature=>change/update/delete/insert
# sequential => can be accessd by index

In [ ]:
a=[10,20,'abc']
print(a)

[10, 20, 'abc']

In [ ]:
mylist=[10,20,30,40]
mylist[0]=87 #update
mylist.append(1000) #insert at last (only one element)
# .extent() =>insert at last (multiple element) and takes a iterable value
# iterable-> datatype on which we can run for loop (list ,tuple,set,dictionary)
# dir(mylist) -> use to check wheather it is iterable or not
mylist.extend([111,1111,'hey'])
print(mylist[0:5:3])
print(mylist)
list1 = [10,20,30]
a=list1.pop() # use to delete the element from the list and pop function return the element which it delete
print(list1)
print(a)

[87, 40]
[87, 20, 30, 40, 1000, 111, 1111, 'hey']

In [ ]:
list1 =[1,2,34,4]
v = list1.copy()
v[0]=0
print(v)
print(list1)

[0, 2, 34, 4]
[1, 2, 34, 4]

In [ ]:
list1 = [10]
print(type(list1))

tuple1 = (10,)
print(type(tuple1))

<class 'list'>
<class 'tuple'>

In [ ]:
list1 = [10,20,30]
a=list1.pop()
print(list1)
print(a)

[10, 20]
30

In [ ]:
mylist=[100,500,600,40,30]
max =mylist[0]
for i in range(0,5):
  if max<mylist[i]:
    max=mylist[i]
print(max)

600

In [ ]:
mylist=[100,500,600,40,30]
min =mylist[0]
for i in range(0,5):
  if min>mylist[i]:
    min=mylist[i]
print(min)

30

In [ ]:
mylist=[100,500,600,40,30,7]
a=[]
for i in mylist:
  if i%5==0:
    a.append(i)
print(a)

[100, 500, 600, 40, 30]

In [ ]:
mylist=[123,500,60,400,40,500,1012,123] # approach 1
uni=[]
dup=[]
for i in mylist:
  if i not in uni:
    uni.append(i)
  else:
    dup.append(i)

print(a)

[0, 1]

In [ ]:
# approch 2
mylist=[123,500,60,400,40,500,1012,123]
st=0
end=len(mylist)-1

while(st<len(mylist)-1):
  if mylist[st]==mylist[end]:
    print(mylist[st])
  end-=1
  if st==end:
    st+=1
    end=len(mylist)-1

123
500

In [ ]:
mylist = [1,2,4,7,14,17,32]
# sum of two value =9
for i in range(0,len(mylist)):
  for j in range(i+1,len(mylist)):
    if mylist[i]+mylist[j]==9:
      print(mylist[i],mylist[j])

2 7

In [39]:
mylist = [1,2,4,7,14,17,32]
st=0
end=len(mylist)-1

while(st<len(mylist)-1):
  if mylist[st]+mylist[end]==9:
    print(mylist[st],mylist[end])
  end-=1
  if st==end:
    st+=1
    end=len(mylist)-1

2 7

In [ ]:
# book the maximum profit # brute force approach
mylist = [10,3,7,14,13]
min=mylist[0]
max=mylist[0]
for i in range(0,len(mylist)):
  if min>mylist[i]:
    min = mylist[i]
    for j in range(i,len(mylist)):
      if max<mylist[j]:
        max=mylist[j]
print(max-min)

11

In [7]:
list1 = [10, 3, 7, 14, 16]

max_profit = 0
a = 0
b = 1

while b < len(list1):
    if list1[a] < list1[b]:
        profit = list1[b] - list1[a]
        if profit > max_profit:
            max_profit = profit
    else:
        a+=1

    b += 1
print(max_profit)

13

In [49]:
list1 = [2,4,5,7,9,13,16]
st=0
end=len(list1)-1

while(st<len(list1)-1):
  if list1[st]+list1[end]==14:
    print(list1[st],list1[end])
  end-=1
  if st==end:
    st+=1
    end=len(list1)-1

5 9