<a href="https://colab.research.google.com/github/saransh437/Loops/blob/main/lists_and_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# data type in python
# list: collect multiple element together
# list => similar array
# can store value og any datatype
# created using square bracket []
#[val1,val2,val3,....]
#values are store on a specific position=>index
# 0-based indexing
# [10,20,23]
#  0 , 1, 2
# list are mutable in nature=>change/update/delete/insert
# sequential => can be accessd by index

In [ ]:
a=[10,20,'abc']
print(a)

[10, 20, 'abc']

In [ ]:
mylist=[10,20,30,40]
mylist[0]=87 #update
mylist.append(1000) #insert at last (only one element)
# .extent() =>insert at last (multiple element) and takes a iterable value
# iterable-> datatype on which we can run for loop (list ,tuple,set,dictionary)
# dir(mylist) -> use to check wheather it is iterable or not
mylist.extend([111,1111,'hey'])
print(mylist[0:5:3])
print(mylist)
list1 = [10,20,30]
a=list1.pop() # use to delete the element from the list and pop function return the element which it delete
print(list1)
print(a)

[87, 40]
[87, 20, 30, 40, 1000, 111, 1111, 'hey']

In [ ]:
list1 =[1,2,34,4]
v = list1.copy()
v[0]=0
print(v)
print(list1)

[0, 2, 34, 4]
[1, 2, 34, 4]

In [ ]:
list1 = [10]
print(type(list1))

tuple1 = (10,)
print(type(tuple1))

<class 'list'>
<class 'tuple'>

In [ ]:
list1 = [10,20,30]
a=list1.pop()
print(list1)
print(a)

[10, 20]
30

In [ ]:
mylist=[100,500,600,40,30]
max =mylist[0]
for i in range(0,5):
  if max<mylist[i]:
    max=mylist[i]
print(max)

600

In [ ]:
mylist=[100,500,600,40,30]
min =mylist[0]
for i in range(0,5):
  if min>mylist[i]:
    min=mylist[i]
print(min)

30

In [ ]:
mylist=[100,500,600,40,30,7]
a=[]
for i in mylist:
  if i%5==0:
    a.append(i)
print(a)

[100, 500, 600, 40, 30]

In [ ]:
mylist=[123,500,60,400,40,500,1012,123] # approach 1
uni=[]
dup=[]
for i in mylist:
  if i not in uni:
    uni.append(i)
  else:
    dup.append(i)

print(a)

[0, 1]

In [ ]:
# approch 2
mylist=[123,500,60,400,40,500,1012,123]
st=0
end=len(mylist)-1

while(st<len(mylist)-1):
  if mylist[st]==mylist[end]:
    print(mylist[st])
  end-=1
  if st==end:
    st+=1
    end=len(mylist)-1

123
500

In [ ]:
mylist = [1,2,4,7,14,17,32]
# sum of two value =9
for i in range(0,len(mylist)):
  for j in range(i+1,len(mylist)):
    if mylist[i]+mylist[j]==9:
      print(mylist[i],mylist[j])

2 7

In [ ]:
mylist = [1,2,4,7,14,17,32]
st=0
end=len(mylist)-1

while(st<len(mylist)-1):
  if mylist[st]+mylist[end]==9:
    print(mylist[st],mylist[end])
  end-=1
  if st==end:
    st+=1
    end=len(mylist)-1

2 7

In [ ]:
# book the maximum profit # brute force approach
mylist = [10,3,7,14,13]
min=mylist[0]
max=mylist[0]
for i in range(0,len(mylist)):
  if min>mylist[i]:
    min = mylist[i]
    for j in range(i,len(mylist)):
      if max<mylist[j]:
        max=mylist[j]
print(max-min)

11

In [ ]:
list1 = [10, 3, 7, 14, 16]
max_profit = 0
a = 0
b = 1
while b < len(list1):
    if list1[a] < list1[b]:
        profit = list1[b] - list1[a]
        if profit > max_profit:
            max_profit = profit
    else:
        a+=1
    b += 1
print(max_profit)

13

In [ ]:
list1 = [2,4,5,7,9,13,16]
st=0
end=len(list1)-1

while(st<len(list1)-1):
  if list1[st]+list1[end]==14:
    print(list1[st],list1[end])
  end-=1
  if st==end:
    st+=1
    end=len(list1)-1

5 9

In [ ]:
list1 = [2,4,5,7,9,13,16]
st1=0
st2=1
st3=2

while(st1<len(list1)-1):
  if list1[st1]+list1[st3]+list1[st2]==20:
    print(list1[st1],list1[st3],list1[st2])
    break
  st3+=1
  if st3 == len(list1)-1:
        st2 += 1
        st3 = st2 + 1
  if st2==len(list1)-2:
    st1+=1
    st2 = st1+1
    st3 = st2+1

2 13 5

In [ ]:
# tuple ->
# similar to list
# tuple are immutable
# why tuple are faster the list

In [ ]:
mytuple=(10,20,30)
print(mytuple.count(60))  # takes only one arugument

0

In [ ]:
mytuple.index(10)

0

In [ ]:
my_tup =10,20,30

In [ ]:
new = (10,20)
new+(60,70)
tup=new+(60,70)
print(new)
print(tup)
# In case memory address is changing on update the its a immutable datatype otherwise its a mutable datatype

(10, 20)
(10, 20, 60, 70)

In [ ]:
mylist=[10,20]
print('before changes',id(mylist))
mylist.append(30)
print('after changes',id(mylist))

before changes 133260657499520
after changes 133260657499520

In [5]:
# list comprehension
# simpler and unique way to create a new list
newlist=[i*2 for i in range(1,10)]
print(newlist)
[i for i in range(1,10)]
newlist1=[i for i in range(1,10) if i%2==0]
print(newlist1)

[2, 4, 6, 8, 10, 12, 14, 16, 18]
[2, 4, 6, 8]

In [ ]:
newlist=[[i,j] for i in range(1,4) for j in range(5,7)]
print(newlist)

[[1, 5], [1, 6], [2, 5], [2, 6], [3, 5], [3, 6]]

In [ ]:
# [  [5],[6],[7],[8],[9]   ]
newlist=[]
for i in range(5,10):
  templist=[]

  templist.append(i)
  newlist.append(templist)
  print(newlist)

[[5]]
[[5], [6]]
[[5], [6], [7]]
[[5], [6], [7], [8]]
[[5], [6], [7], [8], [9]]

In [ ]:
# [  [5],[6,7],[8 , 9 ,10 ]  ]
x=5
newlist = []
for i in range(1,4):
  templist=[]    # recreating the list again and again
  for j in range(1,i+1):
    templist.append(x) # adding number 5   6,7 into temp list
    x+=1
  newlist.append(templist) # append the temp list to orignal list
print(newlist)

[[5], [6, 7], [8, 9, 10]]

In [ ]:

newlist = []
for i in range(1,5):
  x=1
  templist=[]    # recreating the list again and again
  for j in range(1,i+1):
    templist.append(x) # adding number 5   6,7 into temp list
    x+=1
  newlist.append(templist) # append the temp list to orignal list
print(newlist)

[[1], [1, 2], [1, 2, 3], [1, 2, 3, 4]]

In [ ]:
newlist = []
for i in range(1,6):
  x=1
  templist=[]
  for j in range(1,i+1):
    if j==1 or i==5 or i==j:
      templist.append(x)
      x+=1
    else:
        templist.append(chr(42))
        x+=1
  newlist.append(templist)
print(newlist)

[[1], [1, 2], [1, '*', 3], [1, '*', '*', 4], [1, 2, 3, 4, 5]]

In [7]:
list1=[]
list2=[]
if list1==list2:
  print('true')
else:
  print('false')

true

In [2]:
a=[1,2,3]
b=a.copy()
b.append(4)
print(a)
print(b)
print(id(a),id(b))
# Variables donâ€™t store values, they store references
# a does not store the list itself
# a stores a reference (address) to a list object in memory
# Mutable (list, dict, set)	Changes reflect if references are shared
# Immutable (int, float, str, tuple)	New object is created on change
# assignment operator reference of the object and never copies the object

[1, 2, 3]
[1, 2, 3, 4]
139327322324480 139327322311808

In [ ]:
a = [1,2]
b = [1,2]

print(a == b)
print(a is b)
# == compares data, is compares identity

In [1]:
a = [1,2]
b = [1,2]

print(a == b)
print(a is b)
print(id(a))
print(id(b)  )

True
False
136756629548800
136756629548608

In [43]:
a = '123456789123456789'
b = '123456789123456789'
print(a == b)
print(a is b)
print(id(a))
print(id(b))

True
True
136756629161008
136756629161008

In [46]:
a = [1,2,3]
b = a
print(id(a),id(b))
print(a == b)
print(a is b)

139327321967104 139327321967104
True
True

In [2]:
a = []
b = a
c=a.copy()
print(a == b)
print(a is b)
print(a is c)
print(id(a)==id(b))
print(id(a)==id(c))

True
True
False
True
False

In [46]:
a=4
b=4
print(a is b)
print(id(a),id(b))

False
136756629412432 136756629412400

In [45]:
a = 1000
b = 1000
print(a is b)
print(id(a),id(b))

False
136756629412976 136756629413328

In [65]:
a='apple'
b='eappl' #user
c=2*a
print(c)
if b in c:
  print('rotated')
else:
  print('not rotated')
# 'arsa' not rotated

appleapple
rotated

In [31]:
# approach 1
a = 'sara'
b= 2*'sara'
c='rsaa'
st=0
st1=0
if c in b:
  print('rotated')
else:
  print('not roated')

not roated

In [ ]:
a = 'sara'
b = a + a
c = 'rsaa'

i = 0
j = 0

while i < len(b):
    if b[i] == c[j]:
        j += 1
        if j == len(c):
            print("rotated")
            break
    else:
        i = i - j
        j = 0
    i += 1
else:
    print("not rotated")

In [3]:
my_list = [1,2,3,4,5]
st= 0
end= len(my_list) - 1
while st < end:
    my_list[st],my_list[end] = my_list[end], my_list[st]
    st+= 1
    end -= 1
print(my_list)

[5, 4, 3, 2, 1]

In [ ]:
# --------------------------------------------------------------------------dictionary--------------------------------------------------------------------
# data type
# which is used to store data in key-value
# key-> unique data/identifier (page number)
# value=> data which we store and access it with keys
# no index (time take to insert or delete) o(1)
# are mutable
# {}
# {key:value}
# list of tuple value
# {4233 232 12:'saransh'}
# key are always of immutable datatype

In [2]:
myCompany={
    1:'saransh',
    2:'tanish',
    3:'ansh',
    'sara@gmail.com':'sara'
}
myCompany['sara@gmail.com']='saransh'
myCompany['sara@gmail.com']
myCompany[4]='rahul'
print(myCompany)

{1: 'saransh', 2: 'tanish', 3: 'ansh', 'sara@gmail.com': 'saransh', 4: 'rahul'}

In [8]:
myCompany.keys() # only give me the key
myCompany.values() # only give me the values
a = myCompany.items()  # give me the key and value in the tuple
print(dict(a)) #convert into dictionary

{1: 'saransh', 2: 'tanish', 3: 'ansh', 'sara@gmail.com': 'saransh', 4: 'rahul'}

In [37]:
myCompany.popitem() # only delete last key and return key and value
# print(a)

(4, 'rahul')

In [31]:
myCompany={
    1:'saransh',
    2:'tanish',
    3:('ansh','abc','def'),
    'sara@gmail.com':'sara'
}
print(myCompany[3])

('ansh', 'abc', 'def')

In [24]:
myCompany={
    1:'saransh',
    2:'tanish',
    3:'ansh',
    'sara@gmail.com':'sara'
}
for i in myCompany:
  print(i,myCompany[i])
print('------------------------------------------------------------')
for i in myCompany.values():
  print(i)

1 saransh
2 tanish
3 ansh
sara@gmail.com sara
------------------------------------------------------------
saransh
tanish
ansh
sara

In [30]:
myCompany={
    1:'saransh',
    2:'tanish',
    3:'ansh',
    'sara@gmail.com':'sara'
}
for i in myCompany:
  for j in myCompany[i]:
    print(j,end='')
  print()

saransh
tanish
anshansh2
sara

In [34]:
my_dict = {
    'total':0
}
for j in 'rajasthan':
    my_dict['total']+=1
print(my_dict)

{'total': 9}

In [41]:
my_dict ={}

for j in 'riyarr':
  if j in my_dict:
     my_dict[j]=my_dict[j]+1
  else:
     my_dict[j]=1
print(my_dict)

{'r': 3, 'i': 1, 'y': 1, 'a': 1}

In [44]:
s='my name is riya singh'
my_dict={}
for j in s:
  if j in ('a','e','i','o','u'):
     if j in my_dict:
         my_dict[j]=my_dict[j]+1
     else:
         my_dict[j]=1
print(my_dict)

{'a': 2, 'e': 1, 'i': 3}

In [73]:
a='abcd'
for i in range(0,4):
  b=''
  for j in range(i,4):
    b+=a[j]
    print(b)

a
ab
abc
abcd
b
bc
bcd
c
cd
d

In [4]:
my_dict={}
a='abcab'
for i in range(0,len(a)):
  b=''
  for j in range(i,len(a)):
      b+=a[j]
      if b in my_dict:
        my_dict[b]+=1
      else:
          my_dict[b]=1
print(my_dict)

{'a': 2, 'ab': 2, 'abc': 1, 'abca': 1, 'abcab': 1, 'b': 2, 'bc': 1, 'bca': 1, 'bcab': 1, 'c': 1, 'ca': 1, 'cab': 1}

In [39]:
my_dict={}
a='abcab'
for i in range(0,len(a)):
  b=''
  for j in range(i,len(a)):
    b+=a[j]
    if b in my_dict:
      my_dict[b]+=1
    else:
      my_dict[b]=1
    print(b)
print(my_dict)

a
ab
abc
abca
abcab
b
bc
bca
bcab
c
ca
cab
a
ab
b
{'a': 2, 'ab': 2, 'abc': 1, 'abca': 1, 'abcab': 1, 'b': 2, 'bc': 1, 'bca': 1, 'bcab': 1, 'c': 1, 'ca': 1, 'cab': 1}

In [40]:
# 1
# Write a Python program to find the maximum element in a list of numbers without
# max functions
# The maximum element is: 99
numbers = [10, 20, 4, 45, 99]
max=10
for i in numbers:
  if max<i:
    max=i
print(max)

99

In [42]:
# 2. Write a Python program to sum all the elements in a list of numbers.
numbers = [10, 20, 30, 40]
sum =0
for i in numbers:
  sum+=i
print(sum)

100

In [44]:
# 3. Write a Python program to reverse a list without reverse or slicing operator
numbers = [1, 2, 3, 4, 5]
st=0
end=len(numbers)-1
while st<end:
  numbers[st],numbers[end]=numbers[end],numbers[st]
  st+=1
  end-=1
print(numbers)

[5, 4, 3, 2, 1]

In [63]:
# 4. Write a Python program to sort a list in ascending order without sort functions.
numbers=[5,4,3,2,1]
st=0
end=1
while(st < len(numbers)-1):
  if numbers[st]>numbers[end]:
    numbers[st],numbers[end]=numbers[end],numbers[st]

  end+=1
  if end==len(numbers):
    st+=1
    end=st+1
print(numbers)

0 1
0 2
0 3
0 4
1 2
1 3
1 4
2 3
2 4
3 4
[1, 2, 3, 4, 5]

In [3]:
# 5. Write a Python program to remove duplicates from a list while maintaining the order
# of elements.
numbers=[1, 2, 2, 3, 4, 4, 5]
st=0
end=1
while(st < len(numbers)-1):
  if numbers[st]==numbers[end]:
    numbers.pop(st)
  end+=1
  if end==len(numbers):
    st+=1
    end=st+1
print(numbers)

[1, 2, 3, 4, 5]

In [4]:
# 6. Write a Python program to find all pairs of numbers in a list that add up to a specific
# target sum.
# a. numbers = [1, 2, 3, 4, 3, 5, 6] target_sum = 6
# b. Pairs that add up to 6: [(3, 3), (2, 4), (1, 5)]
numbers = [1, 2, 3, 4, 3, 5, 6]
st = 0
end=1
while st<len(numbers)-1:
  if numbers[st]+numbers[end]==6:
    print(numbers[st],numbers[end])
  end+=1
  if end==len(numbers):
    st+=1
    end=st+1

1 5
2 4
3 3