<a href="https://colab.research.google.com/github/saransh437/Loops/blob/main/pattern_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(1,4):
  for j in range(2,5):
    print(5-i,end=" ")
  print()

In [ ]:
for i in range(1,4):
  for j in range(1,4):
    print(j,end=" ")
  print()

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    print(5-j,end=" ")
  print()

In [ ]:
cout=1
for i in range(1,4):
  for j in range(1,4):
    print(cout,end=" ")
    cout+=1
  print()

In [ ]:
for i in range(1,5):
  cout=7
  for j in range(1,5):
    print(cout,end=" ")
    cout-=1
  print()

In [ ]:
for i in range(1,4):
  cout=65
  for j in range(1,4):
    print(cout,end="  ")
    cout+=1
  print()

In [ ]:
for i in range(1,4):
  cout=65
  for j in range(1,4):
    print(chr(cout),end="  ")
    cout+=1
  print()

In [ ]:
cout=65
for i in range(1,4):

  for j in range(1,4):
    print(chr(cout),end="  ")
    cout+=1
  print()

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print('*',end=" ")
  print()

In [ ]:
for i in range(1,5):
  for j in range(1,5+1-i):
    print('*',end=" ")
  print()

In [ ]:
for i in range(1,5):
  cout=2
  for j in range(1,5-i+1):
    print(cout,end=" ")
    cout+=1
  print()

In [ ]:
for i in range(1,5):
  for j in range(1,5-i+1):
    print(j,end=" ")
  print()

In [ ]:
for i in range(1,5):
  cout=65
  for j in range(1,i+1):
    print(chr(cout),end=" ")
    cout+=1
  print()

In [ ]:
cout=65
for i in range(1,5):
  for j in range(1,i+1):
    print(chr(cout),end=" ")
    cout+=1
  print()

In [ ]:
cout=1
for i in range(1,5):
  for j in range(1,5-i+1):
    print(cout+j-1,end=" ")
  cout+=1
  print()

In [ ]:
cout=4
for i in range(1,5):
  for j in range(1,5-i+1):
    print(cout+j-1,end=" ")
  cout+=1
  print()

In [ ]:
cout=4
for i in range(1,5):
  temp = cout
  for j in range(1,5-i+1):
    print(temp,end=" ")
    temp+=1
  cout+=1
  print()

In [ ]:
for i in range(1,5):
  for j in range(1,5-i+1):
    if j%2==0:
        print('0',end=" ")
    else:
      print('1',end=' ')
  print()

In [ ]:
cout=65
num=1
for i in range(1,4):
  for j in range(1,2*(4-i)+1):
    if j%2==0:
        print(num,end=" ")
        num+=1
    else:
      print(chr(cout),end='')
      cout+=1
  print()

In [ ]:
cout=1
for i in range(1,6):
  temp = cout
  for j in range(1,6-i+1):
    print(temp,end=" ")
    temp+=1
  cout+=2
  print()

In [ ]:
for i in range(1,6):
  for j in range(1,6-i):
    print(' ',end=' ')
  for k in range(1,i+1):
    print('*',end=' ')
  print()

In [ ]:
for i in range(1,6):
  temp=1
  for j in range(1,i):
    print(' ',end=' ')
  for k in range(1,6-i+1):
    print(temp,end=' ')
    temp+=1
  print()

1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1

In [ ]:
cout=5
for i in range(1,6):
  temp=cout
  for j in range(1,i):
    print(' ',end=' ')
  for k in range(1,6-i+1):
    print(temp,end=' ')
    temp-=1
  cout-=1
  print()

5 4 3 2 1
  4 3 2 1
    3 2 1
      2 1
        1

In [ ]:
for i in range(1,6):
  for j in range(1,6-i+1):
    print(' ',end=' ')
  for j in range(1,i+1):
    if i==j or j==1 or i==5:
      print('*',end=" ")
    else:
      print(' ',end=' ')
  print()

          *
        * *
      *   *
    *     *
  * * * * *

In [ ]:
# 1
for i in range(1,5):
  for k in range(1,i):
    print(' ',end=' ')
  for j in range(1,5):
    print('*',end=' ')
  print('')

* * * *
  * * * *
    * * * *
      * * * *

In [ ]:
# 2
for i in range(1,5):
  for j in range(1,7):
    if i==1 or j==1 or i==4 or j==6:
      print('*',end=' ')
    else:
      print(' ',end=' ')
  print('')

* * * * * *
*         *
*         *
* * * * * *

In [ ]:
# 3
for i in range(1,6):
  cout=65
  for j in range(1,i+1):
    print(chr(cout),end=' ')
    cout+=1
  print(' ')

A
A B
A B C
A B C D
A B C D E

In [ ]:
# 4
cout=65
for i in range(1,6):
  for j in range(1,i+1):
    print(chr(cout),end=' ')
  cout+=1
  print(' ')

A
B B
C C C
D D D D
E E E E E

In [ ]:
# 5
temp=69
for i in range(1,6):
  cout=temp
  for j in range(1,i+1):
    print(chr(cout),end=' ')
    cout+=1
  temp-=1
  print(' ')

E
D E
C D E
B C D E
A B C D E

In [ ]:
# 6
for i in range(1,6):
  for k in range(1,6-i):
    print(' ',end=' ')
  for j in range(1,i+1):
      print('*',end=" ")
  print()

        *
      * *
    * * *
  * * * *
* * * * *

In [ ]:
# 7
for i in range(1,6):
  for k in range(1,6-i):
    print(' ',end=' ')
  for j in range(1,i+1):
      print(j,end=" ")

  print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [ ]:
# 8
for i in range(1,6):
  for k in range(1,i):
    print(' ',end=' ')
  for j in range(1,6-i+1):
    print(j,end=' ')
  print(' ')

1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1

In [ ]:
# 9

for i in range(1,6):
  cout=65
  for k in range(1,i):
    print(' ',end=' ')
  for j in range(1,6-i+1):
    print(chr(cout),end=' ')
    cout+=1
  print(' ')

A B C D E
  A B C D
    A B C
      A B
        A

In [ ]:
# 10
for i in range(1,6):
  for k in range(1,6-i):
    print(' ',end=' ')
  for j in range(1,6):
    print('*',end=' ')
  print(' ')

        * * * * *
      * * * * *
    * * * * *
  * * * * *
* * * * *

In [ ]:
# 11
for i in range(1,6):
  for k in range(1,6-i):
    print(' ',end=' ')
  for j in range(1,6):
    print(j,end=' ')
  print(' ')

        1 2 3 4 5
      1 2 3 4 5
    1 2 3 4 5
  1 2 3 4 5
1 2 3 4 5

In [ ]:
# 12
for i in range(1,6):
  cout=65
  for k in range(1,6-i):
    print(' ',end=' ')
  for j in range(1,6):
    print(chr(cout),end=' ')
    cout+=1
  print(' ')

        A B C D E
      A B C D E
    A B C D E
  A B C D E
A B C D E

In [ ]:
for i in range(1,6):
  for k in range(1,i):
    print(' ',end='')
  for j in range(1,6-i+1):
    print('*',end=' ')
  print('')

* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
for i in range(1,6):
  for k in range(1,6-i+1):
    print(' ',end='')
  for j in range(1,i+1):
    if i==5 or j==1 or i==j:
       print('*',end=' ')
    else:
      print(' ',end=' ')
  print('')

     *
    * *
   *   *
  *     *
 * * * * *

In [ ]:
for i in range(1,6):
  for k in range(1,i):
    print(' ',end='')
  for j in range(1,6-i+1):
    if i==1 or j==1 or i+j==6:
       print('*',end=' ')
    else:
      print(' ',end=' ')
  print('')

* * * * *
 *     *
  *   *
   * *
    *

In [ ]:
for i in range(1,6):
  for k in range(1,6-i):
    print(' ',end='')
  for j in range(1,2*(i)):
       print("*",end='')
  print('')

    *
   ***
  *****
 *******
*********