<a href="https://colab.research.google.com/github/saransh437/Loops/blob/main/Python(From_List).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# data type in python
# list: collect multiple element together
# list => similar array
# can store value og any datatype
# created using square bracket []
#[val1,val2,val3,....]
#values are store on a specific position=>index
# 0-based indexing
# [10,20,23]
#  0 , 1, 2
# list are mutable in nature=>change/update/delete/insert
# sequential => can be accessd by index

In [ ]:
a=[10,20,'abc']
print(a)

[10, 20, 'abc']

In [ ]:
mylist=[10,20,30,40]
mylist[0]=87 #update
mylist.append(1000) #insert at last (only one element)
# .extent() =>insert at last (multiple element) and takes a iterable value
# iterable-> datatype on which we can run for loop (list ,tuple,set,dictionary)
# dir(mylist) -> use to check wheather it is iterable or not
mylist.extend([111,1111,'hey'])
print(mylist[0:5:3])
print(mylist)
list1 = [10,20,30]
a=list1.pop() # use to delete the element from the list and pop function return the element which it delete
print(list1)
print(a)

[87, 40]
[87, 20, 30, 40, 1000, 111, 1111, 'hey']
[10, 20]
30

In [ ]:
list1 =[1,2,34,4]
v = list1.copy()
v[0]=0
print(v)
print(list1)

[0, 2, 34, 4]
[1, 2, 34, 4]

[1, 1, 2, 2, 3]

In [ ]:
list1 = [10]
print(type(list1))

tuple1 = (10,)
print(type(tuple1))

<class 'list'>
<class 'tuple'>

In [ ]:
list1 = [10,20,30]
a=list1.pop()
print(list1)
print(a)

[10, 20]
30

In [ ]:
mylist=[100,500,600,40,30]
max =mylist[0]
for i in range(0,5):
  if max<mylist[i]:
    max=mylist[i]
print(max)

600

In [ ]:
mylist=[100,500,600,40,30]
min =mylist[0]
for i in range(0,5):
  if min>mylist[i]:
    min=mylist[i]
print(min)

30

In [ ]:
mylist=[100,500,600,40,30,7]
a=[]
for i in mylist:
  if i%5==0:
    a.append(i)
print(a)

[100, 500, 600, 40, 30]

In [ ]:
mylist=[123,500,60,400,40,500,1012,123] # approach 1
uni=[]
dup=[]
for i in mylist:
  if i not in uni:
    uni.append(i)
  else:
    dup.append(i)

print(dup)

[500, 123]

In [ ]:
# approch 2
mylist=[123,500,60,400,40,500,1012,123]
st=0
end=len(mylist)-1

while(st<len(mylist)-1):
  if mylist[st]==mylist[end]:
    print(mylist[st])
  end-=1
  if st==end:
    st+=1
    end=len(mylist)-1

123
500

In [ ]:
mylist = [1,2,4,7,14,17,32]
# sum of two value =9
for i in range(0,len(mylist)):
  for j in range(i+1,len(mylist)):
    if mylist[i]+mylist[j]==9:
      print(mylist[i],mylist[j])

2 7

In [ ]:
mylist = [1,2,4,7,14,17,32]
st=0
end=len(mylist)-1
while(st<end):
  if mylist[st]+mylist[end]==9:
    print(mylist[st],mylist[end])
  end-=1
  if st==end:
    st+=1
    end=len(mylist)-1

2 7

In [ ]:
# book the maximum profit # brute force approach
mylist = [10,3,7,14,13]
min=mylist[0]
max=mylist[0]
for i in range(0,len(mylist)):
  if min>mylist[i]:
    min = mylist[i]
    for j in range(i,len(mylist)):
      if max<mylist[j]:
        max=mylist[j]
print(max-min)

11

In [ ]:
list1 = [10, 3, 7, 14, 16]
max_profit = 0
a = 0
b = 1
while b < len(list1):
    if list1[a] < list1[b]:
        profit = list1[b] - list1[a]
        if profit > max_profit:
            max_profit = profit
    else:
        a+=1
    b += 1
print(max_profit)

13

In [ ]:
list1 = [2,4,5,7,9,13,16]
st=0
end=len(list1)-1

while(st<len(list1)-1):
  if list1[st]+list1[end]==14:
    print(list1[st],list1[end])
  end-=1
  if st==end:
    st+=1
    end=len(list1)-1

5 9

In [ ]:
list1 = [2,4,5,7,9,13,16]
st1=0
st2=1
st3=2

while(st1<len(list1)-1):
  if list1[st1]+list1[st3]+list1[st2]==20:
    print(list1[st1],list1[st3],list1[st2])
    break
  st3+=1
  if st3 == len(list1)-1:
        st2 += 1
        st3 = st2 + 1
  if st2==len(list1)-2:
    st1+=1
    st2 = st1+1
    st3 = st2+1

2 13 5

In [ ]:
# tuple ->
# similar to list
# tuple are immutable
# why tuple are faster the list

In [ ]:
mytuple=(10,20,30)
print(mytuple.count(10))  # takes only one arugument

1

In [ ]:
mytuple.index(10)

0

In [ ]:
my_tup =10,20,30

In [ ]:
new = (10,20)
tup=new+(60,70)
print(new)
print(tup)
# In case memory address is changing on update the its a immutable datatype otherwise its a mutable datatype

(10, 20)
(10, 20, 60, 70)

In [ ]:
mylist=[10,20]
print('before changes',id(mylist))
mylist.append(30)
print('after changes',id(mylist))

before changes 133260657499520
after changes 133260657499520

In [ ]:
# list comprehension
# simpler and unique way to create a new list
newlist=[i*2 for i in range(1,10)]
print(newlist)
[i for i in range(1,10)]
newlist1=[i for i in range(1,10) if i%2==0]
print(newlist1)

[2, 4, 6, 8, 10, 12, 14, 16, 18]
[2, 4, 6, 8]

In [ ]:
newlist=[[i,j] for i in range(1,4) for j in range(5,7)]
print(newlist)

[[1, 5], [1, 6], [2, 5], [2, 6], [3, 5], [3, 6]]

In [ ]:
# [  [5],[6],[7],[8],[9]   ]
newlist=[]
for i in range(5,10):
  templist=[]

  templist.append(i)
  newlist.append(templist)
  print(newlist)

[[5]]
[[5], [6]]
[[5], [6], [7]]
[[5], [6], [7], [8]]
[[5], [6], [7], [8], [9]]

In [ ]:
# [  [5],[6,7],[8 , 9 ,10 ]  ]
x=5
newlist = []
for i in range(1,4):
  templist=[]    # recreating the list again and again
  for j in range(1,i+1):
    templist.append(x) # adding number 5   6,7 into temp list
    x+=1
  newlist.append(templist) # append the temp list to orignal list
print(newlist)

[[5], [6, 7], [8, 9, 10]]

In [ ]:

newlist = []
for i in range(1,5):
  x=1
  templist=[]    # recreating the list again and again
  for j in range(1,i+1):
    templist.append(x) # adding number 5   6,7 into temp list
    x+=1
  newlist.append(templist) # append the temp list to orignal list
print(newlist)

[[1], [1, 2], [1, 2, 3], [1, 2, 3, 4]]

In [ ]:
newlist = []
for i in range(1,6):
  x=1
  templist=[]
  for j in range(1,i+1):
    if j==1 or i==5 or i==j:
      templist.append(x)
      x+=1
    else:
        templist.append('*')
        x+=1
  newlist.append(templist)
print(newlist)

[[1], [1, 2], [1, '*', 3], [1, '*', '*', 4], [1, 2, 3, 4, 5]]

In [ ]:
list1=[]
list2=[]
if list1==list2:
  print('true')
else:
  print('false')

true

In [ ]:
a=[1,2,3]
b=a.copy()
b.append(4)
print(a)
print(b)
print(id(a),id(b))
# Variables don’t store values, they store references
# a does not store the list itself
# a stores a reference (address) to a list object in memory
# Mutable (list, dict, set)	Changes reflect if references are shared
# Immutable (int, float, str, tuple)	New object is created on change
# assignment operator reference of the object and never copies the object

[1, 2, 3]
[1, 2, 3, 4]
139327322324480 139327322311808

In [ ]:
a = [1,2]
b = [1,2]

print(a == b)
print(a is b)
# == compares data, is compares identity

In [ ]:
a = [1,2]
b = [1,2]

print(a == b)
print(a is b)
print(id(a))
print(id(b))

True
False
136756629548800
136756629548608

In [ ]:
a = '123456789123456789'
b = '123456789123456789'
print(a == b)
print(a is b)
print(id(a))
print(id(b))

True
True
136756629161008
136756629161008

In [ ]:
a = [1,2,3]
b = a
print(id(a),id(b))
print(a == b)
print(a is b)

139327321967104 139327321967104
True
True

In [ ]:
a = []
b = a
c=a.copy()
print(a == b)
print(a is b)
print(a is c)
print(id(a)==id(b))
print(id(a)==id(c))

True
True
False
True
False

In [ ]:
a=4
b=4
print(a is b)
print(id(a),id(b))

False
136756629412432 136756629412400

In [ ]:
a = 1000
b = 1000
print(a is b)
print(id(a),id(b))

False
136756629412976 136756629413328

In [ ]:
a='apple'
b='eappl' #user
c=2*a
print(c)
if b in c:
  print('rotated')
else:
  print('not rotated')
# 'arsa' not rotated

appleapple
rotated

In [ ]:
# approach 1
a = 'sara'
b= 2*'sara'
c='rsaa'
st=0
st1=0
if c in b:
  print('rotated')
else:
  print('not roated')

not roated

In [ ]:
a = 'sara'
b = a + a
c = 'rsaa'

i = 0
j = 0

while i < len(b):
    if b[i] == c[j]:
        j += 1
        if j == len(c):
            print("rotated")
            break
    else:
        i = i - j
        j = 0
    i += 1
else:
    print("not rotated")

In [ ]:
my_list = [1,2,3,4,5]
st= 0
end= len(my_list) - 1
while st < end:
    my_list[st],my_list[end] = my_list[end], my_list[st]
    st+= 1
    end -= 1
print(my_list)

[5, 4, 3, 2, 1]

In [ ]:
# --------------------------------------------------------------------------dictionary--------------------------------------------------------------------
# data type
# which is used to store data in key-value
# key-> unique data/identifier (page number)
# value=> data which we store and access it with keys
# no index (time take to insert or delete) o(1)
# are mutable
# {}
# {key:value}
# list of tuple value
# {4233 232 12:'saransh'}
# key are always of immutable datatype

In [ ]:
myCompany={
    1:'saransh',
    2:'tanish',
    3:'ansh',
    'sara@gmail.com':'sara'
}
myCompany['sara@gmail.com']='saransh'
myCompany['sara@gmail.com']
myCompany[4]='rahul'
print(myCompany)

{1: 'saransh', 2: 'tanish', 3: 'ansh', 'sara@gmail.com': 'saransh', 4: 'rahul'}

In [ ]:
myCompany.keys() # only give me the key
myCompany.values() # only give me the values
a = myCompany.items()  # give me the key and value in the tuple
print(dict(a)) #convert into dictionary

{1: 'saransh', 2: 'tanish', 3: 'ansh', 'sara@gmail.com': 'saransh', 4: 'rahul'}

In [ ]:
myCompany.popitem() # only delete last key and return key and value
# print(a)

(4, 'rahul')

In [ ]:
myCompany={
    1:'saransh',
    2:'tanish',
    3:('ansh','abc','def'),
    'sara@gmail.com':'sara'
}
print(myCompany[3])

('ansh', 'abc', 'def')

In [ ]:
myCompany={
    1:'saransh',
    2:'tanish',
    3:'ansh',
    'sara@gmail.com':'sara'
}
for i in myCompany:
  print(i,myCompany[i])
print('------------------------------------------------------------')
for i in myCompany.values():
  print(i)

1 saransh
2 tanish
3 ansh
sara@gmail.com sara
------------------------------------------------------------
saransh
tanish
ansh
sara

In [ ]:
myCompany={
    1:'saransh',
    2:'tanish',
    3:'ansh',
    'sara@gmail.com':'sara'
}
for i in myCompany:
  for j in myCompany[i]:
    print(j,end='')
  print()

saransh
tanish
anshansh2
sara

In [ ]:
my_dict = {
    'total':0
}
for j in 'rajasthan':
    my_dict['total']+=1
print(my_dict)

{'total': 9}

In [ ]:
my_dict ={}

for j in 'riyarr':
  if j in my_dict:
     my_dict[j]+=1
  else:
     my_dict[j]=1
print(my_dict)

{'r': 3, 'i': 1, 'y': 1, 'a': 1}

In [ ]:
multiply = lambda x, y: x * y
add = lambda x, y: x + y

operations = [(multiply, 2), (add, 3), (multiply, 4)]

result = 1
for op, value in operations:
    result = op(result, value)

print(result)

In [ ]:
def apply_funcs(x, funcs):
    for f in funcs:
        x = f(x)
    return x

funcs = [
    lambda x: x + 1,
    lambda x: x * 2,
    lambda x: x - 3,
    lambda x: x ** 2
]

result = apply_funcs(2, funcs)

print(result)

In [ ]:
def func(a, b, *args, **kwargs):
    return a + b + sum(args) + sum(kwargs.values())

print(func(1, 2, 3, 4, x=5, y=6))

In [ ]:
def f():
    print("f")

def g(x):
    x()

g(f)

In [6]:
s= 'abcafgh'
d = {}
for i in s:
  if i in d:
    d[i]+=1
  else:
    d[i]=1
max =0
for i in d:
  if d[i]>max:
    max=d[i]
    var = i
print(var)

a

In [ ]:
s='my name is riya singh'
my_dict={}
for j in s:
  if j in ('a','e','i','o','u'):
     if j in my_dict:
         my_dict[j]=my_dict[j]+1
     else:
         my_dict[j]=1
print(my_dict)

{'a': 2, 'e': 1, 'i': 3}

In [ ]:
a='abcd'
for i in range(0,4):
  b=''
  for j in range(i,4):
    b+=a[j]
    print(b)

a
ab
abc
abcd
b
bc
bcd
c
cd
d

In [ ]:
my_dict={}
a='abcab'
for i in range(0,len(a)):
  b=''
  for j in range(i,len(a)):
      b+=a[j]
      if b in my_dict:
        my_dict[b]+=1
      else:
          my_dict[b]=1
print(my_dict)

{'a': 2, 'ab': 2, 'abc': 1, 'abca': 1, 'abcab': 1, 'b': 2, 'bc': 1, 'bca': 1, 'bcab': 1, 'c': 1, 'ca': 1, 'cab': 1}

In [ ]:
# 1
# Write a Python program to find the maximum element in a list of numbers without
# max functions
# The maximum element is: 99
numbers = [10, 20, 4, 45, 99]
max=10
for i in numbers:
  if max<i:
    max=i
print(max)

99

In [ ]:
# 2. Write a Python program to sum all the elements in a list of numbers.
numbers = [10, 20, 30, 40]
sum =0
for i in numbers:
  sum+=i
print(sum)

100

In [ ]:
# 3. Write a Python program to reverse a list without reverse or slicing operator
numbers = [1, 2, 3, 4, 5]
st=0
end=len(numbers)-1
while st<end:
  numbers[st],numbers[end]=numbers[end],numbers[st]
  st+=1
  end-=1
print(numbers)

[5, 4, 3, 2, 1]

In [ ]:
# 4. Write a Python program to sort a list in ascending order without sort functions.
numbers=[5,4,3,2,1]
st=0
end=1
while(st < len(numbers)-1):
  if numbers[st]>numbers[end]:
    numbers[st],numbers[end]=numbers[end],numbers[st]

  end+=1
  if end==len(numbers):
    st+=1
    end=st+1
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
# 5. Write a Python program to remove duplicates from a list while maintaining the order
# of elements.
numbers=[1, 2, 2, 3, 4, 4, 5]
st=0
end=1
while(st < len(numbers)-1):
  if numbers[st]==numbers[end]:
    numbers.pop(st)
  end+=1
  if end==len(numbers):
    st+=1
    end=st+1
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
# 6. Write a Python program to find all pairs of numbers in a list that add up to a specific
# target sum.
# a. numbers = [1, 2, 3, 4, 3, 5, 6] target_sum = 6
# b. Pairs that add up to 6: [(3, 3), (2, 4), (1, 5)]
numbers = [1, 2, 3, 4, 3, 5, 6]
st = 0
end=1
while st<len(numbers)-1:
  if numbers[st]+numbers[end]==6:
    print(numbers[st],numbers[end])
  end+=1
  if end==len(numbers):
    st+=1
    end=st+1

1 5
2 4
3 3

In [ ]:
# 7. Write a Python program to flatten a nested list (list within lists) into a single list.
# b. Flattened list: [1, 2, 3, 4, 5, 6, 7, 8]
li = [1, [2, 3], [4, [5, 6], 7], 8]
flt = []
for i in li:
  if type(i)==list:
       for j in i:
          if type(j)==list:
            for k in j:
              flt.append(k)
          else:
            flt.append(j)
  else :
    flt.append(i)
print(flt)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# 8. Write a Python program to find the sum of the elements in a list, excluding the largest
# and smallest element. Don’t use max or min functions
numbers = [1, 2, 3, 4, 5]
# b. Sum excluding the largest and smallest element: 9
max =1
min =10
sum=0
for i in numbers:
  if max <i:
    max=i
  if min>i:
    min=i
  sum+=i
print(sum-min-max)

9

In [ ]:
# 9. Write a Python program to check if a list is a palindrome (reads the same backward
# as forward) using two pointer approach
numbers = [1, 2, 3, 2, 1]
st=0
end=len(numbers)-1
flag=False
while st < end:
  if numbers[st]==numbers[end]:
    flag=True
    st+=1
    end-=1
  else:
    flag=False
    break
print(flag)

True

In [ ]:
# 10. Write a function to remove duplicate elements from a list.
numbers = [1, 2, 3, 2, 4, 5, 1, 6]
st =0
end=len(numbers)-1
while(st < end):
  if numbers[st]==numbers[end]:
     numbers.pop(st)
  end-=1
  if st==end:
    st+=1
    end=len(numbers)-1
print(numbers)

[3, 2, 4, 5, 1, 6]

In [ ]:
# 11. Find Common Elements in Two Lists
# Result=[3, 4, 5]
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
common=[]
st=0
st1=0
while st < len(list1):
  if list1[st]==list2[st1]:
    common.append(list1[st])
    st+=1
  st1+=1
  if st1==len(list2)-1:
    st+=1
    st1=0
print(common)

[3, 4, 5]

In [ ]:
# 12. Find the Longest Word in a List
words = ["apple", "banana", "strawberry", "kiwi"]
# b. Strawberry
count = ""
for i in words:
    if len(i) > len(count):
        longest = i
print(longest)

kiwi

In [ ]:
# # 14. Find Missing Number in a List
# # You are given a list of n-1 numbers in the range 1 to n. One number is missing
# # from the sequence. Find the missing number.
# numbers = [1,2,3,5]
# sum=0
# sum1=0
# max=0
# for i in numbers:
#   sum+=i
#   if max <i:
#     max=i
# for i in range(1,max+1):
#   sum1+=i
# print(sum1-sum)
numbers = [1,3]
missing = []
for i in range(1, 3 + 1):
    if i not in numbers:
        missing.append(i)
print(missing)

[2]

In [ ]:
#15 find first non repeating element [find first element that appears once ]
numbers=[4,5,1,2,0,4,5,2]
for i in range(0,len(numbers)):
  count =0
  j=0
  while j < len(numbers):
    if numbers[j]==numbers[i]:
      count+=1
    j+=1
  if count==1:
    print(numbers[i])
    break

1

In [ ]:
# 16. Move All Zeros to the End
# Given a list of integers, move all zeros to the end while maintaining the relative order
# of non-zero elements. Don’t use any inbuilt functions
# b. [1, 3, 12, 0, 0]

numbers = [0, 1, 0, 3, 12]
st1=0
st2=1
while st1 < len(numbers)-1:
  if numbers[st1]==0:
    numbers[st1],numbers[st2]=numbers[st2],numbers[st1]
  st2+=1
  if st2==len(numbers):
    st1+=1
    st2=st1+1
print(numbers)

[1, 3, 12, 0, 0]

In [ ]:
# 17. Find Elements Greater Than Their Left Neighbor
numbers = [1, 3, 2, 6, 5, 8, 7]
# b. [3, 6, 8]
st = 0
st1= 1
while st1<len(numbers):
  if numbers[st]>numbers[st1]:
    print(numbers[st])
  st+=1
  st1=st+1

3
6
8

In [30]:
# 18. Find Triplets That Sum to Zero
# Given a list of numbers, find all unique triplets (a, b, c) such that a + b + c = 0.
# b. Expected Output: [(-1, -1, 2), (-1, 0, 1)]
numbers = [-1, 0, 1, 2, -1, -4]
st=0
st1=1
st2=2
while(st<len(numbers)-2):
  if numbers[st]+numbers[st1]+numbers[st2]==0:
    print(numbers[st],numbers[st1],numbers[st2])
  st2+=1
  if st2==len(numbers):
    st1+=1
    st2=st1+1
  if st1==len(numbers)-1:
    st+=1
    st1=st+1
    st2=st1+1

-1 0 1
-1 2 -1
0 1 -1

In [ ]:
s='abcab'
a={}
for i in range(0,len(s)):
    if s[i] in a:
      pass
    else:
      a[s[i]]=s[i]
print(a)

{'a': 'a', 'b': 'b', 'c': 'c'}

In [ ]:
# finding unique value
s="abcadaef"
for i in range(0,len(s)):
  count =0
  j=0
  while j < len(s):
    if s[j]==s[i]:
      count+=1
    j+=1
  if count==1:
    print(s[i])

b
c
d
e
f

In [ ]:
s = "abcadaef"
i = 0
j = 0
flag = 1
while i < len(s):
    if i != j and s[i] == s[j]:
        flag = 0
    j += 1
    if j == len(s):
        if flag:
            print(s[i])
        i += 1
        j = 0
        flag = 1

b
c
d
e
f

In [ ]:
# -------------------------------------------------------------------------set-------------------------------------------------------------------------

In [ ]:
# set is a datatype used to store unique value
# mutable
# used to combine the result of two set
# sets are unorderd and there is no indexes
# only immutable datatype store

In [ ]:
myset = set({})
print(type(myset))

<class 'set'>

In [ ]:
myset = {1,2,3,4}
myset.add(80) #for 1 element at any position
print(myset)
myset.update([10,12,13])  # for multiple element
print(myset)

{1, 2, 3, 4, 80}
{1, 2, 3, 4, 10, 12, 13, 80}

In [ ]:
# to delete
myset = {1,2,3,4}
myset.remove(4)
print(myset)

{1, 2, 3}

In [ ]:
myset = {1,2,3,4} # will not give error  if element is not present
myset.discard(5)
print(myset)

{1, 2, 3, 4}

In [ ]:
myset = {1,2,3,4,5}
myset2 = {4,5,6,7,8,9}
myset.union(myset2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# intersection
# intersection_update

In [ ]:
myset = {1,2,3,4,5}
myset2 = {4,5,6,7,8,9}
myset.difference(myset2)

{1, 2, 3}

In [ ]:
# valid parenthese
st =0
end=len(s)-1
count=0
if len(s)%2==0:
      while st < end:
        if (s[st] =='[' and s[end]==']') or (s[st] =='(' and s[end]==')') or (s[st] =='{' and s[end]=='}'):
          count+=1
          st+=1
          end-=1
        else:
          print('invalid ')
          break
      if count==len(s)//2:
        print('valid parenthese')
else:
  print('invalid')

invalid

In [ ]:
# call by value and call by reference
# based on reference -> memory address


def saransh():
    print('hello')
saransh()

hello

In [ ]:
a=10
def user(x):
  print(x)
user(a)

10

In [ ]:
def user(x):
  print('hello user',x)
user('saransh')

hello user saransh

In [ ]:
def user(x,y):
  print(x+y)
user(5,10)

15

In [ ]:
def primeCheck():
  x=int(input('Enter a number'))
  count=0
  for i in range(2,x):
    if x%i==0:
      count+=1
  if count==0:
      print('prime number')
  else:
    print('not a prime number')
primeCheck()

Enter a number3
prime number

In [ ]:
username='saransh02'
def user(z,x):
  print('hey user ',z,'you got a friend request from',x)
user('manish',username)
user('tanish',username)

hey user  manish you got a friend request from saransh02
hey user  tanish you got a friend request from saransh02

In [ ]:
x=100
y=20
print(id(x),id(y))
def add_two(a,b):
  print(id(a),id(b))
  a=40
  print(id(a),id(b))
add_two(x,y)
print(id(x),id(y))

11657544 11654984
11657544 11654984
11655624 11654984
11657544 11654984

In [ ]:
a ='sara'
b='saransh'
print(a in b)

True

In [ ]:
# a=300
# print(id(a),a)
# a=a+1
# print(id(a),a)
a=[10,20,30]
print(id(a),a)
a.append(2)
print(id(a),a)

133657354723520 [10, 20, 30]
133657354723520 [10, 20, 30, 2]

In [ ]:
xhamster=300
print(id(xhamster))
def porn(a):
  print(id(a),id(xhamster))
  a=a+1
  print(id(a),id(xhamster))
porn(xhamster)
print(xhamster,id(xhamster))

133657353865552
133657353865552 133657353865552
301
133657353868880 133657353865552
300 133657353865552

In [ ]:
count = 0
def func_add(a,b):
  global count
  c=a+b
  count+=1
  print('c:',c,'count:',count)

  # call
func_add(10,20)
func_add(20,20)
print(count)

c: 30 count: 1
c: 40 count: 2
2

In [ ]:
# function type of argument passing
def func_p(student,age,fee=0):
  print(f'Name:{student},age:{age},fee:{fee}')


func_p('raj',30,2000) # positional argument
func_p('raj',2000,30) # positional argument

# keyword argument
func_p(student='raj',fee=2000,age=20)
# by-defalut argument (made in function declaration  )
func_p(student='raj',age=20)
func_p(student='raj',age=20,fee=200)

Name:raj,age:30,fee:2000
Name:raj,age:2000,fee:30
Name:raj,age:20,fee:2000
Name:raj,age:20,fee:0
Name:raj,age:20,fee:200

In [ ]:
# variable length argument (no. of variable or value will vary)  : *args
def func_p( *num):
  print(num,':')

func_p(10,20,30)

(10, 20, 30) : <class 'int'>

In [ ]:
def func_p(**num):
  print(num)

func_p(a=10,b=20)
func_p(num=10)

{'a': 10, 'b': 20}
{'num': 10}

In [ ]:
# first class function
# 1.assigned to a variable
# 2.can store in data structure
# 3. can be passed as a parameter in another function
def saransh():
     return "Hello"

print(saransh(), a())

Hello Hello

In [ ]:
def add(x,y):
     return x+y
def two_add(a,b):
    return a+b()

5

In [ ]:
def credit_card(amount):
    print(f"Paid ₹{amount} using Credit Card")

def upi(amount):
    print(f"Paid ₹{amount} using UPI")

def cod(amount):
    print(f"Cash on Delivery for ₹{amount}")

def checkout(payment_method, amount):
     return payment_method(amount)

checkout(upi, 1500)

Paid ₹1500 using UPI

In [ ]:
# high order function

In [ ]:
def square(x):
    return x * x

def use(func, value):
    return func(value)

result = use(square, 5)
print(result)

25

In [ ]:
def func():
  print('Hello')

x=func()
# x()  give error because it will try to run a variable which store none
print(x)
x=func
print(x,func)

Hello
None
<function func at 0x797e7c6d7740> <function func at 0x797e7c6d7740>

In [ ]:
def samplefunc():
  print('regex software')
mylist=[samplefunc,10]
print(mylist[0]())

regex software
None

In [ ]:
def samplefunc():
  print('regex software')
mylist=[samplefunc,10]

[<function samplefunc at 0x79c72128b880>, 10]
['regex software', 10]

In [ ]:
def add_two_number(a,b):
      print(a+b)
def add_numbers(x,y):
  print(x,y)

90 <function add_two_number at 0x797e4b1b6700>
30
30
None

In [ ]:
def add_two_number(a,b):
      return a+b
def add_numbers(x,y):
    a=x+y(10,20)
    print(a)
add_numbers(90,add_two_number)

120

In [ ]:
# lambda function -> same like normal function
# starts with lambda keyword
#  also annymous function bcz they dont have name
# used to make code readable
# 1 line function
# use and throw
#  syntax - > lambda para1,para2:expression
# have three key word

In [ ]:

a=lambda num:num*num
print(a)

<function <lambda> at 0x79c7225ba5c0>

In [ ]:
# generator map and filter
mylist=[10,20,30]
for i in mylist:
   a=lambda i: i*i
   print(a(i))

In [ ]:
# map is a high order function which takes another function as an argument
# map(function_name , iterable)
# it is lazy
# memory efficient

5

In [ ]:
def cube(n):
  return n*n*n

c = map(cube,[3,4,5])
print(next(c))
print(next(c))
print(next(c))

27
64
125

In [ ]:
e = map( lambda n: n*n*n,[3,4,5])
print('c',next(e))
print('c',next(e))

c 27
c 64

In [ ]:
e = map( lambda n: n*n*n,[3,4,5])
print(list(e))

[27, 64, 125]

In [ ]:
e = map( lambda n: n%2!=0,[3,4,5])
print(list(e))

[True, False, True]

In [ ]:
e = filter( lambda n: n%2!=0,[3,4,5])
print(list(e))

[3, 5]

In [ ]:
# generator is a function in python which is usedd to generate the value n demand.
# yield keyword
# used to generate the value one at the time.

In [ ]:
def sara():
  n=0
  m=1

  while True:
    yield n
    n,m=m,m+n

gen = sara()
for i in range(7):
  print(next(gen))

0
1
1
2
3
5
8

In [5]:
a=([3,3],6)
print(id(a))
print(id(a[0]))
a[0].append(2)
print(id(a[0]))
print(id(a))
print(a)

138706359087616
138706359503744
138706359503744
138706359087616
([3, 3, 2], 6)

In [ ]:
def func(x, y=[]):
    y.append(x)
    return y
print(func(1))
print(func(2, []))
print(func(3))